<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
  </head>
  <body>
    <center>
        <h1>Welcome to My Show</h1>
        <form action="{{url_for('create')}}" method="POST">
            <input type="hidden" name="student_id" value="{{ student.id }}">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" value="{{ student.first_name }}" ><br>
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" value="{{ student.last_name }}"><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ student.email }}"><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="{{ student.password }}"><br>
            <label for="mobile">Mobile No:</label>
            <input type="text" id="mobile" name="mobile" value="{{ student.mobile }}"><br>
            <label for="country">Country:</label>
            <input type="text" id="country" name="country" value="{{ student.country }}"><br>
            <label for="gender">Gender:</label>
            <input type="text" id="gender" name="gender" value="{{ student.gender }}"><br>
            <button type="submit">Save</button>
        </form>
    </center>
  </body>
</html>